* {
	padding: 0;
	margin: 0;
}

body {
	width: 1024px;
	margin: auto;
}

#header {
	width: 1015px;
	height: 100px;
	padding: 5px;
	margin: 0 0 2px 0;
	background-color: red;
	
}
#header H1 {
	text-align: center;
	font-size: 4.7em;
	float: left;
	margin-left: 50px;
}
#header IMG {
	float: right;
	margin-right: 20px;	
}

#navegacion {
	width: 140px;
	height: 1965px;
	float: left;
	padding: 5px;
	margin: 2px 2px 2px 0;
	background-color: yellowgreen;
}
#navegacion LI {
	list-style-type: none;
	padding: 20px 7px;
}
#navegacion A {
	text-decoration: none;
	border: 1px solid red;
}
#navegacion A:hover {
	color: antiquewhite;
	background-color: orangered;
}
#paginicio #inicio, #pagnoticias #noticias, #pagcontacto #contacto {
	background-color: orangered;
}

#cuerpo {
	width: 600px;
	height: 1968px;
	padding: 5px;
	margin: 2px;
	float: left;
	background-color: yellow;
}
#cuerpo TABLE {
	margin: auto;
}
#cuerpo TH {
	padding: 7px 5px 8px 4px;
	text-align: center;
	font-size: 1.2em;
	font-family: monospace;
	color: greenyellow;
	background-color: black;
}
#cuerpo TD {
	width: 30%;
	padding: 10px;
	border: 3px solid black;
	color: cornflowerblue;
	background-color: darkslateblue;
}

#pub01 {
	float: right;
	width: 244px;
	height: 977px;
	margin: 2px 0 2px 2px;
	padding: 5px;
	background-color: cadetblue;
}

#pub02 {
	float: right;
	width: 244px;
	height: 977px;
	margin: 2px 0 2px 2px;
	padding: 5px;
	background-color: dodgerblue;
}

#pie01 {
	width: 500px;
	height: 50px;
	float: left;
	text-align: center;
	font-family: monospace;
	margin: 2px 2px 0 0;
	padding: 5px;
	background-color: orange;
}

#pie02 {
	width: 500px;
	height: 50px;
	float: right;
	text-align: center;
	margin: 2px 0 0 2px;
	padding: 5px;
	background-color: darkgoldenrod;
}
#pie02 LI {
	display: inline-block;
	margin-top: 10px;
}
#pie02 A {
	text-decoration: none;
	color: aliceblue;
	font-size: 1.6em;
}
#pie02 A:hover {
	color: aquamarine;
	background-color: black;
}
#paginicio #pieinicio, #pagnoticias #pienoticias, #pagcontacto #piecontacto {
	background-color: black;
}